<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital@1&display=swap" rel="stylesheet">
    <title>{{ page.title }}</title>
    <link href="assets/css/style.css" rel="stylesheet">
</head>
<body style="background:{{page.color}}">
    {% include navigation.html %}
    {{ content }}
    URL {{ page.url }}
    <BR>
    Name {{ page.name }}
    <BR>
    </body>
</html>