<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital@1&display=swap" rel="stylesheet">
</head>
<body>
    
<h1>Grid Layout</h1>

<p>This grid layout contains six columns and three rows:</p>

<div class="grid-container">
  <div class="item1">Header</div>
  <div class="item2">Menu</div>
  <div class="item3">{{ content }}</div>  
  <div class="item4">{{ content }}</div>
  <div class="item5">Footer</div>
</div>

<div class="link">
    Reference: <a href="https://www.w3schools.com/css/tryit.asp?filename=trycss_grid_layout_named">W3 School</a>
</div>

</body>
</html>